<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Servlet 3.0 Web Application</display-name>

    <welcome-file-list>
        <welcome-file>/jsp/login.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>

    <servlet>
        <servlet-name>CatServlet</servlet-name>
        <servlet-class>com.netcracker.cats.servlets.CatServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CatServlet</servlet-name>
        <url-pattern>/cats</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <servlet-name>CatServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>getMethodConvertingFilter</filter-name>
        <filter-class>com.netcracker.cats.filter.GetMethodConvertingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>getMethodConvertingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
</web-app>